<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .center-bottom {
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            background-color: #f0f0f0; /* Adjust as per your design */
            padding: 10px 0; /* Adjust padding as needed */
            color: #333; /* Adjust text color */
            font-size: 14px; /* Adjust font size */
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center mb-4">Login</h2>
        <form method="POST" action="/login">
            <div class="form-group">
                <label for="username">Email</label>
                <input type="email" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/signup" class="btn btn-link">Sign Up</a>
        </form>
    </div>
    <div class="center-bottom">
        Created by <a href="https://www.linkedin.com/in/vivek-upadhyay-6689b4184" target="_blank">VivekU</a>
    </div>
</body>
</html>
